.container {
    display: flex;
    padding-top: 20px;
}

.container .sidebar{
    width: 20%;
    background-color: rgb(88, 140, 232);
    border-radius: 10px;
}
.container .table{
    padding-left: 20px;
    width: 80%;
}
.sidebar ul{
    padding:0;
    list-style: none;
    text-align: center;
}
.sidebar ul  a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.sidebar ul li{
    background-color: rgb(19, 4, 107);
    margin-bottom: 10px;
}

.sidebar ul li:hover{
    transform: scale(1.05);

}
table img {
    width: 100%;
    height: 300px;
}
table {
    width: 100%;
    border: solid 1px black;
    border-collapse: collapse;
    text-align: center;
}
.form{
    padding-left: 20px;
    width: 100%;
    padding-top: 10px;
    
}
form #inputtext:placeholder-shown{
    border: 2px solid red;
  }
form #inputtext:not(:placeholder-shown){
    border: 2px solid green;
  }
.form_sp{
   
    border:solid 3px red;
    width: 100%;
    padding: 10px;
    font-size: 30px;
}
.form_sp .input{
    width: 300px;
}
.form_sp button{
    width:300px ;
    background-color: red;
    border: solid 1px white;
    padding: 5px 0;
    color: white;
}
.form_sp button:hover{
    background-color: white;
    border: solid 1px red;
    padding: 5px 0;
    color: red;
}

